@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

.about{
position: relative;
width: 100vw;
height: 100%;
background-color: #FDFDFD;
color: #545454;
}
.container{
    width: 100%;
    height: 100%;
}

/*---Header Section---*/
.about .header{
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    width: 100%;
    height: 40%;
    margin-bottom: 2rem;
    margin-top: 5rem;
}
.who-we-are-container{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #545454;
    color: #FDFDFD;
    border-radius: 20px;
    padding-bottom: 2rem;
}
.who-we-are-container h2{
    padding: 2rem;
    font-size: 30px;
    font-weight: 200;
    letter-spacing: .2rem;
    
}
.who-we-are-content{
    width: 80%;
    padding: 15px 10px;
}
.who-we-are-content p{
    font-size: 15px;
    padding: .5rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.founder-container{
    width: 50%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.founder-container h2{
    padding: 2rem;
    font-size: 30px;
    font-weight: 200;
    border-bottom-left-radius: 20px;
    border-bottom: #545454 solid;
    border-left: #545454 solid;
}

/*---Content Section*/
.content-container{
height: 40%;
width: 100%;
padding: 10px 50px;
text-align: center;
border: #545454;
border-style: double;
border-radius: 10px;
}
.content-container p{
    padding: 10px;
    font-size: 15px;
    letter-spacing: .1rem;
}
.footer{
    height: 20%;
    width: 100%;
    margin-top: 6rem;
    text-align: center;
    padding: 0;
    font-size: 30px;
}
.footer-container{
    height: 100%;
    width: 100%;
    font-weight: 400;
    padding: 1rem;
}
.cursive p{
    font-family: 'La Belle Aurore', cursive;
    font-size: 45px;
}

@media  screen and (max-width:940px) {
    .about .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .who-we-are-container{
        width: 100vw;
        margin-bottom: 2rem;
        border-radius: 0;
    }
    .who-we-are-container h2{
        font-size: 40px;
    }
    .who-we-are-container p{
        padding: 1px;
        margin: auto;
    }
    .founder-container{
        width: 100vw;
    }
    .founder-container h2{
        font-size: 40px;
    }
    .content-container{
        width: 100%;
        border-radius: 0;
        padding: 1rem;
        
    }
    .footer{
        width: 100%;
        font-size: 20px;
    }
    .cursive p{
        font-size: 30px;
        margin-top: 2rem;

    }

}

